<div class="service-container">
  <h3 class="service-header"><%= link_to(image_tag("arrow.png", class: 'img-arrow'), root_path,  :method => :get) %>Services</h3>
</div>

<div
  id="map"
  style="width: 100%;
  height: 190px;"
  data-markers="<%= @markers.to_json %>"
></div>

<div class="s-container">
  <!-- <div class="row"> -->
    <%= link_to services_path(:category => "Food Bank")  do %>
      <div class="services-card col-xs-3">
        <i class="fas fa-utensils"></i>
        <h3 class="s-icons svc-dcp">Food Bank</h3>
      </div>
    <% end %>
    <%# @markers_to_be = Service.all.select{|i| i.category == "Food Bank"}.map{|i| {lat: i.latitude, lng: i.longitude}} %>
    <%= link_to services_path(:category => "Clothes") do %>
      <div class="services-card col-xs-3">
        <i class="fas fa-tshirt"></i>
        <h3 class="s-icons svc-dcp clothes-txt">Clothes</h3>
      </div>
    <% end %>

   <%= link_to services_path(:category => "Housing") do %>
     <div class="services-card col-xs-3">
        <i class="fas fa-home"></i>
        <h3 class="s-icons svc-dcp fix-txt">Housing</h3>
      </div>
    <% end %>
    <%# @markers_to_be = Service.all.select{|i| i.category == "Housing"}.map{|i| {lat: i.latitude, lng: i.longitude}} %>


  <%= link_to services_path(:category => "Day Centre") do %>
      <div class="services-card col-xs-3">
        <i class="fas fa-sun"></i>
        <h3 class="s-icons svc-dcp">Day Centre</h3>
      </div>
    <% end %>
    <%# @markers_to_be = Service.all.select{|i| i.category == "Day Centre"}.map{|i| {lat: i.latitude, lng: i.longitude}} %>
  <%= link_to services_path(:category => "Health Service") do %>
    <div class="services-card col-xs-3">
      <i class="fas fa-briefcase-medical"></i>
      <h3 class="s-icons svc-dc fix-hlt">Health</h3>
    </div>
    <% end %>
    <%# @markers_to_be = Service.all.select{|i| i.category == "Health Service"}.map{|i| {lat: i.latitude, lng: i.longitude}} %>
   <%= link_to services_path(:category => "Job Centre") do %>
    <div class="services-card col-xs-3">
      <i class="fas fa-briefcase"></i>
      <h3 class="s-icons svc-dc">Job Centre</h3>
    </div>
    <% end %>

  <%= link_to services_path(:category => "Vet Services") do %>
    <div class="services-card col-xs-3">
      <i class="fas fa-paw"></i>
      <h3 class="s-icons svc-dcp">Vet Services</h3>
    </div>
    <% end %>

 <%= link_to services_path(:category => "Outreach") do %>
    <div class="services-card col-xs-3">
      <i class="fas fa-hand-paper"></i>
      <h3 class="s-icons svc-dcp fix-txt">Outreach</h3>
    </div>
    <% end %>

  <%= link_to services_path(:category => "Show All") do %>
    <div class="services-card col-xs-3">
      <i class="fas fa-map-marker-alt"></i>
      <h3 class="s-icons svc-dcp fix-all">Show All</h3>
    </div>
  <% end %>
</div>


















