
<div class="thanks">
  <h2>Thank you. You're giving someone shelter tonight!</h2>
</div>


<!-- <img class="lovehouse" src="../../../images/noun_love.png"> -->

<%= image_tag  "noun_love.png", class: "lovehouse" %>




<div class="bookingdetails">

 Your booking number is <br>
 <strong class="random"><%= rand(100..500) %></strong>
<!-- <ul> -->
  <!-- <li>Status: <%= @booking.state %></li> -->
  <!-- <li>Item: <%= @booking.hostel_sku %></li> -->
  <!-- <li>Amount: <%= humanized_money_with_symbol(@booking.amount) %></li> -->
<!-- </ul> -->
</div>

<p class="line">--------------</p>
<div class="text">
<p>Send them a text with the details of this booking</p>
<input class="phone" placeholder="555-0123">

</div>

<h3 class="btn btn-book btn-center text-center">Submit</h3>
