<div class="container">
  <div class="row">
    <div class="carousel">
      <%@hostels.each do |hostel|%>
        <div class="col-xs-12">
        <!-- insert <div class="card"> -->
          <div class="card hostel-card" style ="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path hostel.photo %>);">
            <h2> <%= hostel.name %></h2>
            <h2> <%= hostel.address %> </h2>
          </div>
          <p class="price">£<%= hostel.price %></p>
          <%= link_to "Choose Hostel", hostel_path(hostel), class: "btn btn-book btn-hostel" %>
         </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "carousel" %>



